[build]
  command = "cd woonuxt_base && npm run build"
  functions = "woonuxt_base/.netlify/functions-internal"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/server"
  status = 200

[[redirects]]
  from = "/*"
  to = "/.netlify/functions/server"
  status = 200
