[build]
  command = "npm run build"
  functions = "woonuxt_base/.netlify/functions-internal"

# ✅ Public map niet instellen, Netlify detecteert SSR zelf
# (dus géén "publish" regel hier!)

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/server"
  status = 200

[[redirects]]
  from = "/*"
  to = "/.netlify/functions/server"
  status = 200
