[build]
  # Gebruik npm uit de root, maar wijs de woonuxt_base-map aan als werkdirectory
  command = "npm run build -- --cwd woonuxt_base"
  functions = "woonuxt_base/.netlify/functions-internal"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/server"
  status = 200

[[redirects]]
  from = "/*"
  to = "/.netlify/functions/server"
  status = 200
