[build]
  command = "npm run build"
  publish = ".netlify/functions-internal"
  functions = ".netlify/functions-internal"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/:splat"
  status = 200

[[redirects]]
  from = "/*"
  to = "/.netlify/functions/server"
  status = 200
